<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <title>LAN Chat</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.min.css'><link rel="stylesheet" href="../static/style.css">

</head>
<body>

    <div class="container" style="text-align: center;">
        <form id="nameForm" action="/" method="POST" style="margin-top: 50px;">
            <input type="text" id="nameInput" name="name" placeholder="Enter your name" style="font-size: 20px; padding: 10px;">
            <button type="submit" style="font-size: 18px; padding: 10px 20px;">Chat</button>
        </form>
    </div>
    

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.concat.min.js'></script><script  src="../static/script.js"></script>

</body>
</html>
